.title {
    text-align: center;
}

/* ナビゲーションバー */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* ハンバーガーメニューのスタイル */
.toggle-menu-button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

/* ナビゲーションリンク */
.header-site-menu {
    display: flex;
    gap: 15px;
}

.header-site-menu ul {
    display: flex;
}

.header-site-menu a {
    color: white;
    text-decoration: none;
}

/* メニューが開いている時のクラス */
.header-site-menu.open {
    display: flex;
}

/* スマホ表示用スタイル */
@media (max-width: 768px) {
    .header_inner {
        height: 80px;
    }

    .title {

        color: red;
        height: 50px;
        h1 {
            margin: 10px auto;
        }
    }

    .header-site-menu {
        display: none;
        flex-direction: row;
        gap: 10px;
    }

    .toggle-menu-button {
        display: block;
    }
}